.chatlist {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: rgba(59, 138, 217, 0.32);
    border: 1px solid #ffffff;
}

a {
    display: block;
    width: 100%;
    text-decoration: none;
}
a:hover {
    background-color: #1976d2;
}