@import ../../vars

.new-chat
  background-color: #eeffee
  display: flex
  padding: $padding-left
  flex-direction: column
  justify-content: space-around
  //margin-bottom: 10px

.separator
  margin: 5px

.chat-form
  display: flex
  flex-direction: column
