.chatlist {
    flex-basis: 30%;
    align-self: flex-start;
}

.chat-item-highlight {
    animation: notify 2s 1;
}

@keyframes notify
{
    0%      {background:red;}
    25%     {background:yellow;}
    75%     {background:yellow;}
    100%    {background:red;}
}