.chat-list
  background-color: #ddffdd
  overflow-y: auto

.chat-list-form
  display: flex
  flex-direction: column
  flex-basis: 30%
  border: 1px solid #888
  justify-content: space-between
  background-color: #ddffdd
