.chat
    &-container
        display: flex
        flex-direction: column
        height: 90vh
        flex: 1 0 0
        min-width: 250px
    &-list
        display: flex
        flex-direction: column
        flex: 1 0 0
        background-color: darkgray
        overflow-y: auto