@charset "UTF-8";
body {
  font-family: tahoma;
  background-color: #efefef;
  font-size: 11px;
}

.comment-form {
  min-width: 84%;
  padding: 10px;
  border-radius: 6px;
}

.comment-form input, button, .comment-form textarea {
  display: block;
  margin: 5px 5px 10px 5px;
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ccc;
}